<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
      	<a class="navbar-brand" id="tunelyicon" href="/"><img src="/images/vinyl.png"</a>
	</div>
	

	 <div class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	 	<div>
			<ul class="nav navbar-nav navbar-right">
			<li class="homelink"><a href="/api/genres">GENRES</a></li>
			</ul>
		</div>

	 </div>
	</div>
</nav>