<div class="jumbotron">
  <div class="container">
    <h1>Welcome to tunely</h1>
    <p>Your music binder for all things motown!</p>

    <div class="browse_button_div text-center">
  		<a href="/albums" id="browse_albums_button" class="btn btn-default">Browse Albums</a>
  	</div>
  </div>
</div>