#newForm {
	background-color: gray;
	background-image: url('/images/motown-featured.png');
	/*background-size: cover;*/
/*  background-repeat: no-repeat;*/
}
.jumbotron {
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.newAlbum {
	margin: 4% auto;
	background-color: black;
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-bottom: none;
	width: 35%;
	padding: .5% 0;
	border-radius: 10px;
}

.control-label {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}
.coolBtn {
	background-color: black;
	border-radius: 10px;
	font-size: 1.2em;
	color: white;
	font-weight: bold;
}

.albumName {
	text-align: center;
}


