<h2>Motown Albums</h2>
<div class="single-item">
    <div><img src="/images/bright-cover-art.png" alt=""></div>
    <div><img src="/images/bright-cover-art.png" alt=""></div>
    <div><img src="/images/bright-cover-art.png" alt=""></div>
    <div><img src="/images/bright-cover-art.png" alt=""></div>
    <div><img src="/images/bright-cover-art.png" alt=""></div>
    <div><img src="/images/bright-cover-art.png" alt=""></div>
</div>
